

   login.css 

.body {
  font-family: Arial, sans-serif;
  background-color: #c51266;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.PublicContainer {
  background-color: #5393bc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 100px;
  width: 40%;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
  color: #d92857;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}
input[type="name"],
input[type="text"],
input[type="password"] {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ca3838;
  height: 40;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 12px;
  background-color: #bcd0e8;
  border: none;
  border-radius: 4px;
  color: #ef148d;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #81ad64;
} 
